<!DOCTYPE html>
<html lang="en"
    xmlns:th="www.thymeleaf.org"
    >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<br>
<br>

<div th:if="${param.success}">
    <div class="alert alert-info">Registration successful!</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 th:text="Registration">form</h1>
            <form th:action="@{/user/signup}" th:object="${user}" method="POST" enctype="utf8">
                <div class="form-group">
                    <label class="control-label" for="name">Username</label>
                    <input id = "name" class="form-control" th:field="*{name}" required autofocus="autofocus"/>
                    <!--            <p th:each="error: ${#fields.errors('name')}"-->
                    <!--               th:text="${error}">Validation error</p>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input id = "email" class="form-control" type="email" th:field="*{email}"required autofocus="autofocus"/>
                    <!--            <p th:each="error : ${#fields.errors('email')}"-->
                    <!--               th:text="${error}">Validation error</p>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}"required autofocus="autofocus"/>
                    <!--            <p th:each="error : ${#fields.errors('password')}"-->
                    <!--               th:text="${error}">Validation error</p>-->
                </div>
                <button class="btn btn-primary" type="submit" th:text="Submit">Submit</button>
            </form>
        </div>
    </div>
</div>



<!--<a th:href="@{/login.html}" th:text="">login</a>-->
</body>
</html>